@font-face {
    font-family: jost;
    src:url("../fonts/jost.ttf");
}
@font-face {
    font-family: Righteous;
    src:url("../fonts/righteous.ttf");
}
@font-face {
    font-family: Staatliches;
    src:url("../fonts/staatliches.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }
h1{
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}
p{
    font-family: Jost, sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0 0 0.6rem 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0 0.5rem 0;
    width: 80%;
}
.logo{
    font-size: 1.3rem;
    font-family: Staatliches, cursive;
    letter-spacing: 0.1rem;
}
.navLinks{
    font-size: 1rem;
    font-family: Jost, sans-serif;
    font-weight: bold;
}
.navLinks>a{
    text-decoration: none;
    color: inherit;
    margin: 0 0.2rem 0 0.2rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificates{
    margin: 60px 0;
}
.certificate{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.certificate-img{
    width: 300px;
    border-radius: 15px;
    border: 3px solid #181818;
    box-shadow: 0 0 10px 0px #888888;
    filter: blur(2px);
}

.over-ride{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.over-ride.active{
    display: none;
}
.certificate-img.active{
    filter: blur(0px);
}
.fill{
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.3rem 1.2rem;
    outline: 0;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: block;

}
.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;

  }
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  .container{
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 7px;
}
.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #ffe54c;
    animation: progress 0.4s ease-in-out forwards;
    animation-delay: 4s;
    opacity: 0;
}
.skill-per.css{
    width: 95%;
    animation-delay: 4.2s;
}
.skill-per.javascript{
    width: 80%;
    animation-delay: 4.4s;
}
.skill-per.nodejs{
    width: 80%;
    animation-delay: 4.6s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #f74141;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #f74141;
    transform: translateX(-50%) rotate(45deg);

}
.header-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
.text-background{
    position: absolute;
    bottom: -20px;
    z-index: -1;
    font-size: 50px;
    opacity: 5%;
}
.text-foreground{
    font-size: 30px;
}
.underline::before{
    content: "";
    position: absolute;
    left: 50%;
    width: 100px;
    height: 2px;
    background-color: #808080;
    transform: translateX(-50%);
}
.underline::after{
    content: "";
    position: absolute;
    left: 50%;
    width: 40px;
    height: 2px;
    background-color: #ffe54c;
    transform: translateX(-50%);
}

  @media screen and (min-width: 640px) and (max-width: 800px){

    .logo{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 1.5rem;
    }
    .certificates{
        margin: 80px 0;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 500px;
        border-radius: 20px;
        border: 4px solid black;
        box-shadow: 0 0 15px 0px #888888;
        filter: blur(2px);
    }
    h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    p{
        font-size: 1rem;
      margin: 0 0 0.5rem 0;
    }
    .fill{
        font-size: 1.2rem;
        letter-spacing: 0.063;
        padding: 0.25rem 1.8rem;
    
    }
    .text-background{
        bottom: -45px;
        font-size: 75px;
    }
    .text-foreground{
        font-size: 35px;
    }
    .underline::before{
        width: 120px;
        height: 2px;
    }
    .underline::after{
        width: 50px;
        height: 2px;
    }
    .container{
        position: relative;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .skill-per .tooltip{
        top: -35px;
        font-size: 12px;
    }

  }

  @media screen and (min-width: 800px) and (max-width: 1400px){

    .logo{
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    .certificates{
        margin: 100px 0;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 800px;
        border-radius: 25px;
        border: 5px solid black;
        box-shadow: 0 0 20px 0px #888888;
        filter: blur(3px);
    }
    h1{
        font-size: 36px;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
    .fill{
        font-size: 1.4rem;
        letter-spacing: 0.063;
        padding: 0.25rem 2.2rem ;
    
    }
    .header-text{
        margin-top: 100px;
    }
    .text-background{
        bottom: -45px;
        font-size: 75px;
    }
    .text-foreground{
        font-size: 35px;
    }
    .underline::before{
        width: 120px;
        height: 2px;
    }
    .underline::after{
        width: 50px;
        height: 2px;
    }
    .container{
        position: relative;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .skill-per .tooltip{
        top: -35px;
        font-size: 12px;
    }


  }

  @media screen and (min-width: 1400px) and (max-width: 1800px){

    .logo{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2.5rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    .certificates{
        margin: 100px 0;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 850px;
        border-radius: 25px;
        border: 6px solid black;
        box-shadow: 0 0 25px 0px #888888;
        filter: blur(4px);
    }
    h1{
        font-size: 45px;
        margin-bottom: 25px;
    }
    p{
        font-size: 1.5rem;
      margin: 0 0 0.7rem 0;
    }
    .fill{
        font-size: 1.6rem;
        letter-spacing: 0.063;
        padding: 0.3rem 2.5rem;
    
    }
    .fill::after {
        top: 5px;
        left: 5px;
      }
      .text-background{
        bottom: -40px;
        font-size: 80px;
    }
    .header-text{
        margin-top: 120px;
    }
    .text-foreground{
        font-size: 45px;
    }
    .underline::before{
        width: 150px;
        height: 3px;
    }
    .underline::after{
        width: 60px;
        height: 3px;
    }
    .container{
        position: relative;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .skill-per .tooltip{
        top: -38px;
        font-size: 15px;
    }


  }

  @media screen and (min-width: 1800px){

    .logo{
        font-size: 5.5rem;
        margin: 2rem 0;
    }
    nav {
        margin: 1.5rem 0 0 0;
    }
    .navLinks{
        font-size: 4rem;
    }
    .navLinks>a{
      margin: 0 0.5rem 0 0.5rem;
    }
    .certificates{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 80px 60px;
    }
    .certificates{
        margin: 160px 0;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 1100px;
        border-radius: 35px;
        border: 8px solid black;
        box-shadow: 0 0 30px 0px #888888;
        filter: blur(5px);
    }
    h1{
        font-size: 65px;
        margin-bottom: 30px;
    }
    p{
        font-size: 2.5rem;
      margin: 0 0 0.8rem 0;
    }
    .fill{
        font-size: 2.2rem;
        padding: 0.5rem 3.5rem;   
    }
    .fill::after {
        top: 8px;
        left: 8px;

      }
      .header-text{
        margin-top: 180px;
    }
      .text-background{
        bottom: -55px;
        font-size: 130px;
    }
    .text-foreground{
        font-size: 80px;
    }
    .underline::before{
        width: 250px;
        height: 4px;
    }
    .underline::after{
        width: 100px;
        height: 4px;
    }
    .container{
        position: relative;
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .skill-per .tooltip{
        top: -65px;
        font-size: 30px;
        border-radius: 3px;
    }
    .tooltip::before{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -2px;
        height: 15px;
        width: 15px;
        z-index: -1;
        background-color: #f74141;
        transform: translateX(-50%) rotate(45deg);
    }
    


  }
