@font-face {
    font-family: jost;
    src:url("../fonts/jost.ttf");
}
@font-face {
    font-family: Righteous;
    src:url("../fonts/righteous.ttf");
}
@font-face {
    font-family: Staatliches;
    src:url("../fonts/Staatliches.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }
h1{
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0 0.5rem 0;
    width: 80%;
}
.logo{
    font-size: 1.3rem;
    font-family: Staatliches, cursive;
    letter-spacing: 0.1rem;
}
.navLinks{
    font-size: 1rem;
    font-family: Jost, sans-serif;
    font-weight: bold;
}
.navLinks>a{
    text-decoration: none;
    color: inherit;
    margin: 0 0.2rem 0 0.2rem;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificates{
    margin: 60px 0;
}
.certificate{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.certificate-img{
    width: 300px;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 0 0 15px 0px #888888;
    filter: blur(5px);
}

.over-ride{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.over-ride.active{
    display: none;
}
.certificate-img.active{
    filter: blur(0px);
}
.fill{
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.3rem 1.2rem 0.3rem;
    outline: 0;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: block;

}
.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
  }
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  @media screen and (min-width: 640px) and (max-width: 800px){

    .logo{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 1.5rem;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 500px;
        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 0 0 20px 0px #888888;
        filter: blur(5px);
    }
    

  }

  @media screen and (min-width: 800px) and (max-width: 1400px){

    .logo{
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 800px;
        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 0 0 30px 0px #888888;
        filter: blur(6px);
    }
    h1{
        font-size: 36px;
    }
    .fill{
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.3rem 1.2rem 0.3rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }


  }

  @media screen and (min-width: 1400px) and (max-width: 1800px){

    .logo{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2.5rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 850px;
        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 0 0 35px 0px #888888;
        filter: blur(7px);
    }
    h1{
        font-size: 45px;
    }
    .fill{
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.3rem 1.2rem 0.3rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }

  }

  @media screen and (min-width: 1800px){

    .logo{
        font-size: 4.5rem;
        margin: 2rem 0;
    }
    .navLinks{
        font-size: 3.5rem;
    }
    .navLinks>a{
      margin: 0 0.5rem 0 0.5rem;
    }
    .certificate{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .certificate-img{
        width: 1200px;
        border-radius: 15px;
        border: 3px solid black;
        box-shadow: 0 0 30px 0px #888888;
        filter: blur(10px);
    }
    h1{
        font-size: 60px;
    }
    .fill{
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.3rem 1.2rem 0.3rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }

  }