@font-face {
  font-family: Righteous;
  src:url("../fonts/righteous.ttf");
}

.maintenancePrompt {
    z-index: 1;
    background-color: white;
    border-radius: 1.5rem;
    width: 40vh;
    height: 40vh;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0 10px;
    transform: translate(-50%, -50%);
  }
  .maintenancePrompt>span {
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.8rem;
    width: 90%;
  }
  .promptBtn {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.4rem 1.3rem 0.4rem;
    outline: 0;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: block;
  }
  
  .promptBtn::after {
    content: "";
    background-color: #f74141;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
  }
  
  .promptBtn:hover::after {
    top: 0px;
    left: 0px;
  }

  @media screen and (min-width: 640px) and (max-width: 800px){
    .maintenancePrompt {
      padding: 0 10px;
    }

  }
  @media screen and (min-width: 800px) and (max-width: 1400px){
    .maintenancePrompt {
      padding: 0 10px;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1800px){
    .maintenancePrompt {
 
    }
  }
  @media screen and (min-width: 1800px){
    .maintenancePrompt {
      width: 40vh;
      height: 40vh;
    }
    .maintenancePrompt>span {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .promptBtn {
      font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.6rem 2rem;
    }
    .promptBtn::after {
      top: 8px;
      left: 8px;
    }
  }

  
