@font-face {
    font-family: jost;
    src:url("../fonts/jost.ttf");
}
@font-face {
    font-family: Righteous;
    src:url("../fonts/righteous.ttf");
}
@font-face {
    font-family: Staatliches;
    src:url("../fonts/staatliches.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
a.disabled {
    pointer-events: none;
    cursor: default;
  }
h1{
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 22px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0 0.5rem 0;
    width: 80%;
}
.logo{
    font-size: 1.3rem;
    font-family: Staatliches, cursive;
    letter-spacing: 0.1rem;
}
.navLinks{
    font-size: 1rem;
    font-family: Jost, sans-serif;
    font-weight: bold;
}
.navLinks>a{
    text-decoration: none;
    color: inherit;
    margin: 0 0.2rem 0 0.2rem;
}
p{
    font-family: jost;
    font-weight: bold;
}
.heading>p{
    font-size: 14px;
    margin-bottom: 15px;
    color: rgb(87, 87, 87);
}
.short-explaination>p{
    font-size: 15px;
    margin-bottom: 8px;

}
hr{
    margin: 50px 0;
    color: rgb(87, 87, 87);

}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 80%;
}
.project-imgs{
    margin-top: 25px;
    width: 100%;
}

.fill{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.2rem 1.6rem;
    outline: 0;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: block;

}
.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 6px;
    left: 6px;
    transition: 0.2s;
  }
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  @media screen and (min-width: 640px) and (max-width: 800px){

    .logo{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 1.5rem;
    }
    h1{
        font-size: 25px;
    }
    .heading>p{
        font-size: 17px;
        margin-bottom: 15px;
        color: rgb(87, 87, 87);
    }
    .short-explaination>p{
        font-size: 18px;
        margin-bottom: 8px;
    
    }
    #projects{
        margin-top: 40px;
        width: 80%;
    }
    .project{
        margin-bottom: 40px;
    }
    .project-imgs{
        margin-top: 30px;
        width: 100%;
    }
    hr{
        margin: 80px 0;
    }
    .fill{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.2rem 1.6rem;
    
    }
    .fill::after {
        content: "";
        background-color: #ffe54c;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 8px;
        left: 8px;
        transition: 0.2s;
      }
      .fill:hover::after {
        top: 0px;
        left: 0px;
      }
    

  }

  @media screen and (min-width: 800px) and (max-width: 1400px){

    .logo{
        font-size: 2.5rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    h1{
        font-size: 35px;
    }
    .heading>p{
        font-size: 21px;
        margin-bottom: 15px;
        color: rgb(87, 87, 87);
    }
    .short-explaination>p{
        font-size: 22px;
        margin-bottom: 8px;
    
    }
    #projects{
        margin-top: 80px;
        width: 80%;
    }
    .project{
        margin-bottom: 40px;
    }
    .project-imgs{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        width: 100%;
    }
    .project-details{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    hr{
        margin: 100px 0;
    }
    .fill{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.3rem 1.2rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }


  }

  @media screen and (min-width: 1400px) and (max-width: 1800px){

    .logo{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2.5rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    h1{
        font-size: 45px;
    }
    .heading>p{
        font-size: 24px;
        margin-bottom: 15px;
        color: rgb(87, 87, 87);
    }
    .short-explaination>p{
        font-size: 25px;
        margin-bottom: 8px;
    
    }
    #projects{
        margin-top: 120px;
        width: 80%;
    }
    .project{
        margin-bottom: 40px;
    }
    .project-imgs{
        margin-top: 50px;
        width: 100%;
    }
    .project-details{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    hr{
        margin: 120px 0;
    }
    .fill{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.3rem 1.2rem 0.3rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }

  }

  @media screen and (min-width: 1800px){

    .logo{
        font-size: 5.5rem;
        margin: 2rem 0;
    }
    .navLinks{
        font-size: 4rem;
    }
    .navLinks>a{
      margin: 0 0.5rem 0 0.5rem;
    }
    h1{
        font-size: 65px;
    }
    .heading>p{
        font-size: 34px;
        margin-bottom: 15px;
        color: rgb(87, 87, 87);
    }
    .short-explaination>p{
        font-size: 35px;
        margin-bottom: 8px;
    
    }
    #projects{
        margin-top: 120px;
        width: 80%;
    }
    .project{
        margin-bottom: 40px;
    }
    .project-imgs{
        margin-top: 80px;
        width: 100%;
    }
    .project-details{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    hr{
        margin: 160px 0;
    }
    .fill{
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.063;
        padding: 0.6rem 1.6rem;
        outline: 0;
        border: 1px solid black;
        color: black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        display: block;
    
    }

  }