
@font-face {
    font-family: jost;
    src:url("../fonts/jost.ttf");
}
@font-face {
    font-family: Righteous;
    src:url("../fonts/righteous.ttf");
}
@font-face {
    font-family: Staatliches;
    src:url("../fonts/staatliches.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
body{
    overflow-x: hidden;
}
.cover {
    display: block;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    width: 80%;
}
.logo{
    font-size: 1.3rem;
    font-family: Staatliches, cursive;
    letter-spacing: 0.1rem;
}
.navLinks{
    font-size: 1rem;
    font-family: Jost, sans-serif;
    font-weight: bold;
}
.navLinks>a{
    text-decoration: none;
    color: inherit;
    margin: 0 0.2rem 0 0.2rem;
}
#character {
    position: relative;
    width: 30rem;
    /* To change model size, change this in rem */
    height: 20rem;
  }
  
  .scene,
  canvas {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 50%;
    top: 19%;  
    transform: translate(-50%, -19%);
  }
  #character {
      display: none;
  }
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}
h1{
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 2.2rem;
}
p{
    font-family: Jost, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0 0 0.6rem 0;
}
.tagline{
    display: flex;
    justify-content: center;
    font-family: Jost, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    color: black;
    height: 1.8rem;
}
.tagline>p{
    font-size: 1.2rem;
    margin: 0; 
}
.tagline>div>ul{
    list-style: none;
    animation: change 10s infinite ;
    padding: 0;
}
.tagline>div>ul>li{
    padding-left: 0.5rem;
    margin:0;
}
section{
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 80%;
}
section>img{
    display: block;
    width: 15rem;
    text-align: center;
    margin: 0 auto 1rem auto;
}
.hire-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100 auto 0 auto;
    margin-bottom: 40px;
    color: #24292e;
}
.klever-coder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #24292e;
    padding: 50px 10px;
}
.klever-coder>h2{
    color: white;
}
.klever-coder>p{
    text-align: center;
    color: white;
}
h2{
    font-family: Righteous, cursive;
    letter-spacing: 0.1rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0 0 0.6rem 0;
}
.merchandise{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6a737d;
    padding: 50px 10px;
}
.merchandise>img{
    width: 250px;
}
.merchandise div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.merchandise p{
    color: white;
}
.social-menu{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #1dbf73;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #6fda44;
}
.iconify{
    width: 25px;
    height: 25px;
}
.fill{
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.063;
    padding: 0.3rem 1.2rem 0.3rem;
    outline: 0;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: block;

}
.fill::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 4px;
    left: 4px;
    transition: 0.2s;
  }
  .fill:hover::after {
    top: 0px;
    left: 0px;
  }

  .fill-2{
    color: white;
    font-size: 18px;
    padding: 5px 20px;
    background: none;
    border: solid 2px white;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
  }

  .imgOne{
      transform: translate(-150%, 0);
      animation: img 1.2s forwards;
  }
  .textBoxOne{
    transform: translate(-150%, 0);
    animation: textBox 1.2s forwards;
  }
  .imgTwo{
      transform: translate(-300%, 0);
  }
  .textBoxTwo{
    transform: translate(-300%, 0);
  }
  .imgThree{
      transform: translate(-300%, 0);
  }
  .textBoxThree{
    transform: translate(-300%, 0);
  }

  @keyframes img {
    to {
        transform: translate(0, 0);
      }
  }
  @keyframes textBox {
    to {
        transform: translate(0, 0);
      }
  }

  @keyframes change {
    0%, 30.33%, 100% {transform:translate3d(0,0,0);}
    33.33%, 60.66% {transform:translate3d(0,-34%,0);}
    63.66%,90.99% {transform:translate3d(0,-67%,0);}
  }

  @media screen and (min-width: 640px) and (max-width: 800px){
      .logo{
          font-size: 2rem;
          margin: 1rem 0;
      }
      .navLinks{
          font-size: 1.5rem;
      }
      p{
        font-size: 0.9rem;
      margin: 0 0 0.5rem 0;
    }
      .intro>h1{
          font-size: 3rem;
      }
      .tagline>p{
        font-size: 2rem;
      }
      .tagline{
          font-size: 2rem;
          height: 3rem;
      }
      .tagline>div>ul>li{
        padding-left: 0.7rem;
      }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section>img{
        width: 20rem;
        padding: 0 2rem;
    }
    section>div{
        width: 50%;
    }
    h2{
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
    }

    .fill{
        font-size: 0.9rem;
    }
    .fill-2{
        margin-top: 30px;
    }
    .inverted {
        position: relative;
        justify-content: flex-start;
    }
    .inverted>img {
        position: absolute;
        left: 50%;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1400px){
    #character {
        display: block;
    }
      .logo{
          font-size: 2.5rem;
          margin: 1rem 0;
      }
      .navLinks{
          font-size: 2rem;
      }
      .navLinks>a{
        margin: 0 0.3rem 0 0.3rem;
      }
      .intro{
        margin: 0 0 4rem 0;
      }
      .intro>h1{
          font-size: 3.5rem;
      }
      .tagline{
          font-size: 2.5rem;
          height: 3.5rem;
      }
      .tagline>div>ul>li{
        padding-left: 0.9rem;
      }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section>img{
        width: 25rem;
        padding: 0 2rem;
    }
    section>div{
        width: 50%;
    }
    h2{
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }
    p{
        font-size: 1.2rem;
      margin: 0 0 0.5rem 0;
    }
    .tagline>p{
        font-size: 2.5rem;
    }
    .fill{
        font-size: 1.2rem;
    }
    .fill-2{
        margin-top: 20px;
    }
    .inverted {
        position: relative;
        justify-content: flex-start;
    }
    .inverted>img {
        position: absolute;
        left: 55%;
    }
    .merchandise{
        flex-direction: row;
    }
    .merchandise img{
        width: 300px;
    }
    .hire-txt{
        margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1400px) and (max-width: 1800px){
    .scene,
    canvas {
      position: absolute;
      width: 500px;
      height: 500px;
      left: 50%;
      top: 19%;  
      transform: translate(-50%, -19%);
  
    }
    #character {
        display: block;
        width: 30rem;
        height: 22rem;
    }
    .logo{
        font-size: 3rem;
        margin: 1rem 0;
    }
    .navLinks{
        font-size: 2.5rem;
    }
    .navLinks>a{
      margin: 0 0.3rem 0 0.3rem;
    }
    .intro{
        margin: 0 0 5rem 0;
      }
    .intro>h1{
        font-size: 4rem;
    }
    .tagline{
        font-size: 2.8rem;
        height: 4rem;
    }
    .tagline>div>ul>li{
        padding-left: 1.1rem;
      }
  section{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  section>img{
      width: 35rem;
      padding: 0 2rem;
  }
  section>div{
      width: 50%;
  }
  h2{
      font-size: 2.5rem;
      margin: 0 0 1rem 0;
  }
  p{
      font-size: 1.5rem;
    margin: 0 0 0.7rem 0;
  }
  .tagline>p{
    font-size: 2.8rem;
}
  .fill{
      font-size: 1.5rem;
  }
  .fill-2{
    font-size: 20px;
    padding: 6px 22px;
    background: none;

  }
  .inverted {
      position: relative;
      justify-content: flex-start;
  }
  .inverted>img {
      position: absolute;
      left: 55%;
  }
  .merchandise{
    flex-direction: row;
}
.merchandise img{
    width: 300px;
}
.social-menu ul li a{
    width: 80px;
    height: 80px;
}
}

@media screen and (min-width: 1800px){
    .scene,
    canvas {
      position: absolute;
      width: 750px;
      height: 750px;
  
    }
    #character {
        display: block;
        width: 40rem;
        height: 35rem;
    }
    .logo{
        font-size: 4.5rem;
        margin: 2rem 0;
    }
    .navLinks{
        font-size: 4rem;
    }
    .navLinks>a{
      margin: 0 0.5rem 0 0.5rem;
    }
    .intro{
        margin: 0 0 3.5rem 0;
      }
    .intro>h1{
        font-size: 6.5rem;
    }
    .tagline{
        font-size: 4rem;
        height: 5.5rem;
    }
    .tagline>div>ul>li{
        padding-left: 1.3rem;
      }
  section{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  section>img{
      width: 45rem;
      padding: 0 2rem;
  }
  section>div{
      width: 50%;
  }
  h2{
      font-size: 3.5rem;
      margin: 0 0 1rem 0;
  }
  p{
      font-size: 2.5rem;
    margin: 0 0 0.8rem 0;
  }
  .tagline>p{
    font-size: 4rem;
}
  .fill{
      font-size: 2.5rem;
  }
  .fill-2{
    font-size: 22px;
    padding: 8px 28px;
    background: none;
    border: solid 2px white;
    border-radius: 100px;
  }
  .inverted {
      position: relative;
      justify-content: flex-start;
  }
  .inverted>img {
      position: absolute;
      left: 55%;
  }
  .merchandise{
    flex-direction: row;
}
.merchandise img{
    width: 400px;
}
.hire-txt{
    margin-bottom: 100px;
}
.social-menu ul li a{
    width: 120px;
    height: 120px;
}
}